[submodule "lotus/ext/pybind11"]
	path = lotus/ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "lotus/ext/glfw"]
	path = lotus/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lotus/ext/spdlog"]
	path = lotus/ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule ".\\external\\vcpkg"]
	path = .\\external\\vcpkg
	url = https://github.com/Microsoft/vcpkg
