build/
lib/
bin/
out/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
.idea/
.vs/
.vscode/
examples/quickstart/.settings

lotus/docs/doxygen/
lotus/docs/sphinx/
lotus/docs/api/
lotus/docs/.vscode/

CMakeLists.txt.user
CMakeCache.txt
CMakeScripts
Testing
Makefile
!docs/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
